body{
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.jumbotron{
  /* padding-left: 50px; */
  background-color: #fffcf3;
  /* background: linear-gradient(to right, #FFFFFF, #FFEFBA); */
}
html,
body,
#root{
  height: 100%;
}
.App {
  text-align: center;
}
.user-value{
  border-top: 1px solid black;
  padding: 10px 10px;
}
.customers{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.customers:last-child{
  border-bottom: 1px solid black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
